* {
    margin: 0;
    padding: 0;
}

.header {
    height: 444px;
    padding: 160px 80px;
    background: url(../Images/DT-Hero.jpg) right top;
    background-size: auto;
    background-size: cover;
}